#app, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.username_label {
    font-size: 1.2rem;
}

.input-message-wrapper {
    bottom: 0;
    position: absolute;
    left: 20%;
    width: 70%;
}

.input-message {
    height: 21.5px !important;
    max-height: 21.5px !important;;
}

nav {
    height: 50px;
    font-weight: 300;
    background-color: #26a69a;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.navbar-title {
    font-size: 2em !important;
    height: 50px;
}

.navbar-backlink {
    padding-left: 20px;
}

.user-list {
    overflow: auto;
    max-height: 35vh;
}

.contacts-title {
    margin-top: 25px;
    font-weight: 300;
}

.user-item {
    cursor: pointer;
}

.logo {
    height: 33vh;
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 75px;
}

.title-text {
    font-weight: 300;
    margin: 25px;
    font-size: 45px;
}

.conversation {
    padding: 15px 0 15px 0;
    margin-top: 15px;
    max-height: 65vh;
    overflow: auto;
}

.conversation-message {
    margin: 10px 0 10px 0;
    padding: 5px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.other-user-message-wrapper {
    float: left !important;
}

.other-user-message {
  background-color: #80deea;
  float: left;
}

.own-user-message-wrapper {
    float: right !important;
}

.own-user-message {
  background-color: #80cbc4;
  float: right;
}

.message-time {
  float: right;
  margin: 5px 5px 0 5px;
  font-size: 0.7em;
}

.message-text {
  width: 100%;
}


.loading-page-loader {
  height: 150px !important;
  width: 150px !important;
}

.loading-screen {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.loading-text {
  padding: 30px;
  font-size: 25px;
  color: #26A69A;
}

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.login-btn {
  padding: 30px;
}
