.username_label {
    font-size: 1.2rem;
}

nav {
    height: 50px;
    font-weight: 300;
    background-color: #26a69a;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.navbar-title {
    font-size: 2em !important;
    height: 50px;
}

.navbar-backlink {
    padding-left: 20px;
}

.user-item {
    cursor: pointer;
}

.logo {
    height: 200px;
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 50px;
}

.welcome-message {
    font-weight: 300;
    margin: 50px;
}